<div class="row">
      <div class="col-lg-12">

      <!-- Current Progress-->
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title"><strong>Current progress</strong></h3>
              </div>
              <div class="panel-body">
                <!-- fill whatever in here -->
              </div>
          </div>

          <!-- Add Comment  -->
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title"><strong>Any comments? Leave below</strong></h3>
              </div>
              <div class="panel-body">


              <!-- Comment Form -->
              <form>
                  <div class="form-group">
                      <label for="">Comment</label>
                      <input type="text" class="form-control" id="comment">
                      <br>
                  <button type="submit" class="btn btn-primary" id="addNewComment">Submit</button>
              </form>

              </div>
          </div>

      </div>
  </div>
</div>
