<div class="container artist_develop">
  <div class="row">
    <div class="col-md-4">
      <h3>Client Progress Update</h3>
    </div>
    <div class="col-md-4">
      {{#if logged_in}}
        {{#if superAdmin}}
          <h3><a style='color:white;' href="/users/newAdmin">Add another regular admin</a><br></h3>
          <h3 role="presentation"><a style='color:white;'href="#" data-toggle="modal" data-target="#createclient" class="whtText">add another client</a></h3>
        {{/if}}
      {{/if}}
    </div>
    <div class="col-md-4">
      {{#unless logged_in}}
        <h3 role="presentation"><a style='color:white;' href="#" data-toggle="modal" data-target="#sign-in" class="whtText">Sign In</a></h3>
      {{/unless}}
      {{#if logged_in}}
        <h3><a style='color:white;' href="/users/sign-out">Sign Out</a></h3>
      {{/if}}
    </div>
  </div>
</div>

{{#if logged_in}}
  {{#if superAdmin}}
    <h1 style='text-align:center;'>Admin Image Area</h1>

    <!-- if it is a regular user or username in this case we have to if else equal it to this page -->

    {{#each docs}}
      <h1>{{this.title}}</h1>
      <ul>
        <li><img style='width:15%;'src="images/{{this.mainimage}}" alt="" /></li>
      </ul>
      {{#each this.comments}}
      <ul>
        <li>{{this.body}}</li>
      </ul>

    {{/each}}
      <form method='post', action='/users/addcomment', enctype="multipart/form-data">
      <input name='postid', type='hidden', value='{{this._id}}'>
      <div class="form-group">
        <label for="em">Body:</label>
        <br>
        <input type="text" id="body" name="body" placeholder="Enter a Comment">
      </div>
      <button type="submit">Post Image</button>
      </form>
    {{/each}}
    <hr style='	height: 10px;border: 0;zbox-shadow: 0 10px 10px -10px #8c8b8b inset;'>
<h1 style='text-align:center;' role="presentation"><a href="#" data-toggle="modal" data-target="#addproject" class="whtText">Add a Project</a></h1>
<br>
<br>
<br>
<br>
<br>
<div id="addproject" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12" id="sign_in">
						<h4>Add Project</h4>
            <form method='post', action='/users/addimage', enctype="multipart/form-data">
              <div class="form-group">
                <label for="em">Title:</label>
                <br>
                <input type="text" id="ti" name="title" placeholder="Enter Title">
              </div>
              <div class="form-group">
                <label for="mainimage">Main image:</label>
                <input type="file" id="mainimage" name="mainimage">
              </div>
              <div class="form-group">
                <label for="em">Client:</label>
                <br>
                <select name='client'>
                  <option value="jeff">Jeff</option>
                  <option value="saj">Saj</option>
                  <option value="boris">Boris</option>
                  <option value="ash">Ash</option>
                  <option value="clientjeff">Client Jeff</option>
                  <option value="ffp">FinallyFreeProductions</option>
                </select>
              </div>
              <button type="submit">Post Image</button>
            </form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


  {{/if}}
{{/if}}

<!-- <input type="radio" name="client" value="jeff" checked>Jeff<br>
<input type="radio" name="client" value="saj">Saj<br>
<input type="radio" name="client" value="boris">Boris
<br> -->
